.info-section {
  padding: 20px;
  letter-spacing: 1px;

}


.info-section-title {
  letter-spacing: 3px;
  color: #FFD700;

}

.info-section-item {
  padding: 5px;
}

.info-section-item-title {
}

.info-section-item-value {
  color: #FFD700;
  
}