.info-section {
  padding: 20px;
}


.info-section-title {
  letter-spacing: 2px;
  color: #FFD700;

}

.info-section-item {
  padding: 5px;
}

.info-section-item-title {
  letter-spacing: 2px;
}

.info-section-item-value {
  color: #FFD700;
  
}